annotated-types
anyio
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
email-validator
fastapi
Flask
Flask-Cors
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
keras
MarkupSafe
mtcnn
numpy
opencv-python
orjson
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-multipart
PyYAML
requests
sniffio
starlette
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
Werkzeug
